=======================================
Map file:
input is in following format
- first line is 2 number: n m (where n is number of nodes, m is number of edges)
- next n lines, in each i-th line, includes: x y (where x, y is coordinate of node i)
- next m lines, in each line, includes: u v t (where u, v is 2 nodes of the edge and t is number of minute to go from u to v  )

Example:
3 5 
1 1 
2 2 
2 1
1 2 3
1 2 7
1 3 10
1 3 5
2 3 6
we have 3 nodes and 5 edges

** requirement: the graph should be connected undirected graph

=========================================

Order file:
- first line is number: n (number of orders)
- second line is n numbers: x[1]...x[n] (where x[i] is the id of the node of the i-th order)

=========================================

Result file:
- first line is number: n (number of orders can be shipped)
- next n lines, each i-th line contains: n1 n2 t (means we have to go from node n1 to node n2 to ship i-th order, t is total minutes we need)
